
body{
  background-color: #00CDEF;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: large;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

p{
  font-family: 'Stalinist One';
  color: #000000;
  text-align: center;
  font-size: larger; 
}

h1{
  font-family: 'Stalinist One';
  color: #000000;
  text-align: center; 
}

.province:hover{
  fill: #444444;
}

svg{
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}