
body{
  background-color: #00CDEF;
  margin: 0;
  padding: 0;
  text-align: center;
}

p{
  font-family: 'Stalinist One';
  color: #000000;
  text-align: left;
  font-size: medium; 
}

h1{
  font-family: 'Stalinist One';
  color: #000000;
  text-align: center; 
}

.province:hover{
  fill: #AAAAAA;
}